<DOCTYPE! html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Team and Heroes!</title>
  </head>

  <body>
    <h1>Create a Team and Heroes!</h1>

    <form method="POST" action="/team">
      <label for="team_name">Team Name: </label><input type="text" id="team_name" name="team[name]"><br>

      <label for="team_motto">Team Motto: </label><input type="text" id="team_motto" name="team[motto]"><br>

      <h2>Hero 1</h2>
      <label for="member1_name">Hero's Name: </label><input type="text" id="team_motto" name="team[motto]"><br>

      <label for="team_motto">Team Motto: </label><input type="text" id="team_motto" name="team[motto]"><br>

      <label for="team_motto">Team Motto: </label><input type="text" id="team_motto" name="team[motto]"><br>

    </form>
  </body>
</html>
