<DOCTYPE! html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Team and Heroes!</title>
  </head>

  <body>
    <h1>Create a Team and Heroes!</h1>

    <form method="POST" action="/team">
      <label for="team_name">Team Name: </label><input type="text" id="team_name" name="team[name]">
    </form>
  </body>
</html>
